:root {
  --primary-color: #fff;
  --title-color: #333;
  --blue-color: #2352DE;
  --bg-color: #F6F6F8;
  --border-color: #DBDBED;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: transparent;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
fieldset {
  background-color: transparent;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animation {
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: text-decoration 0.5s, border-radius 0.5s, box-shadow 0.5s;
}

.animation:hover {
  text-decoration: underline;
}

.animation:focus {
  text-decoration: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.animation:active {
  opacity: 70%;
}

.bg-color {
  background-color: var(--bg-color);
}

.btn-primary {
  background-color: var(--blue-color);
  color: var(--primary-color);
  padding: 12px 24px;
  font-weight: 600;
  line-height: 1.3;
  transition: background-color .3s, color .3s, box-shadow .3s;
}

.btn-primary:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--blue-color);
  box-shadow: 0 0 0 1px var(--blue-color);
}

.btn-primary:active {
  background-color: var(--blue-color);
  color: var(--primary-color);
  box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.6;
  color: var(--title-color);
}

.section {
  padding: 140px 0;
}

.title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  position: relative;
  color: var(--title-color);
  display: inline-block;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background: var(--blue-color);
  opacity: 0.1;
  bottom: 6px;
  left: 0;
}

.header {
  font-weight: 600;
  min-height: 100vh;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  color: var(--primary-color);
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  opacity: 0.5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top {
  padding-top: 75px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: box-shadow 0.5s, opacity 0.5s;
  z-index: 2;
}

.logo:focus {
  box-shadow: 0 0 0 3px var(--blue-color);
}

.logo:active {
  opacity: 0.5;
}

.logo:hover {
  opacity: 0.7;
}

.burger__button {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 44px;
  height: 44px;
  z-index: 2;
}

.burger__button span,
.burger__button::before,
.burger__button::after {
  height: 2px;
  width: 30px;
  background-color: var(--primary-color);
  transform: scale(1);
}

.burger__button::before,
.burger__button::after {
  content: '';
  position: absolute;
  transition: transform 0.3s;
}

.burger__button::before {
  top: 10px;
}

.burger__button::after {
  bottom: 10px;
}

.burger__button.active span {
  transform: scale(0)
}

.burger__button.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger__button.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.header__content-inner {
  display: flex;
  min-height: calc(100vh - 127px);
  align-items: center;
  max-width: 500px;
  line-height: 1.3;
}

.header__title {
  font-size: 48px;
  font-weight: 400;
}

.header__subtitle {
  font-size: 90px;
  font-weight: 700;
  display: block;
}

.header__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  padding-bottom: 29px;
}

.header__text::after {
  content: "";
  width: 37px;
  height: 23px;
  background-image: url("../images/arrow-down.svg");
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.about__content p:not(:last-child) {
  margin-bottom: 24px;
}

.expertise__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expertise__picture {
  width: 415px;
  margin-right: 40px;
}

.expertise__info {
  max-width: 664px;
  width: 100%;
}

.expertise__item {
  display: flex;
}

.expertise__item:not(:last-child) {
  margin-bottom: 86px;
}

.expertise__skill {
  font-weight: 600;
  text-transform: uppercase;
  width: 64px;
}

.expertise__blank {
  width: 100%;
  height: 32px;
  background-color: var(--border-color);
}

.expertise__full {
  background-color: var(--blue-color);
  height: 32px;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 330px;
  width: 100%;
  padding-top: 90px;
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 90px;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services__item--code::before {
  background-image: url("../images/code.svg");
}

.services__item--cms::before {
  background-image: url("../images/cms.svg");
}

.services__item--support::before {
  background-image: url("../images/support.svg");
}

.services__subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.services__text {
  font-size: 16px;
}

.portfolio {
  padding-bottom: 140px;
  text-align: center;
}

.portfolio__buttons {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.portfolio__buttons li:not(:last-child) {
  margin-right: 45px;
}

.portfolio__button {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  color: var(--title-color);
  text-decoration: underline transparent;
  transition: text-decoration 0.3s, color 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.portfolio__button:hover {
  text-decoration: underline;
  color: var(--blue-color)
}

.portfolio__button:focus {
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.mixitup-control-active {
  color: var(--blue-color);
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -45px 15px 0;
}

.portfolio__item {
  position: relative;
  margin: 0 45px 45px 0;
}

.portfolio__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background-color: #4c4a4a;
  border: 12px solid #666565;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.portfolio__item:hover .portfolio__item-link {
  opacity: 1;
}

.feedback {
  text-align: center;
}

.feedback__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feedback__customer {
  max-width: 400px;
}

.feedback__customer-img {
  margin: 0 auto 15px;
  border-radius: 50%;
}

.feedback__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: var(--blue-color);
  margin-bottom: 20px;
}

.feedback__blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  color: var(--title-color);
  text-align: center;
}

.feedback__video {
  width: 570px;
  height: 400px;
  position: relative;
  z-index: 1;
}

.feedback__video::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: background-color .9s;
}

.feedback__video:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.feedback__video:active::after {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.feedback__video::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 90px solid #fff;
  transition: transform 0.9s;
}

.feedback__video:hover::before {
  transform: translate(-50%, -50%) rotate(90deg) scale(1.5);
}

.feedback__video:active::before {
  transform: translate(-50%, -50%) rotate(90deg) scale(0.6);
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.statistics__square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  flex-grow: 1;
  border: 1px solid var(--border-color);
  padding: 50px 0;
}

.statistics__square::before {
  content: "";
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.statistics__square--works::before {
  width: 97px;
  background-image: url("../images/statistics/1.svg");
}

.statistics__square--clients::before {
  width: 92px;
  background-image: url("../images/statistics/2.svg");
}

.statistics__square--drinks::before {
  background-image: url("../images/statistics/3.svg");
}

.statistics__square--reviews::before {
  background-image: url("../images/statistics/4.svg");
}

.statistics__description {
  margin-bottom: 20px;
}

.statistics__number {
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
}

.connection {
  padding-bottom: 140px;
}

.connection__data {
  display: flex;
  justify-content: space-between;
}

.connection__info {
  font-size: 16px;
  font-style: normal;
  margin-right: 100px;
}

.connection__info p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.connection__contacts {
  margin-bottom: 20px;
}

.connection__contacts-item:not(:last-child) {
  margin-bottom: 10px;
}

.connection__link {
  color: var(--blue-color);
}

.connection__link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.connection__icons {
  display: flex;
}

.connection__icons li:not(:last-child) {
  margin-right: 20px;
}

.connection__icon {
  display: block;
  width: 44px;
  height: 44px;
  transition: box-shadow .3s, border-radius .3s;
}

.connection__icon:hover {
  opacity: 0.7;
}

.connection__icon:active {
  opacity: 1;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

.connection__icon:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.form {
  max-width: 540px;
  width: 100%;
}

.form__inputs {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.form__label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  width: 100%;
}

.form__label:first-child {
  margin-right: 30px;
}

.form__input {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  border: none;
  background-color: var(--bg-color);
  padding: 13px;
}

.form__input--textarea {
  min-height: 115px;
  resize: vertical;
  margin-bottom: 20px;
}

.form__input::placeholder {
  font-size: 14px;
  color: #9C9CAB;
  font-weight: 400;
  transition: color .3s;
}

.form__input:hover::placeholder {
  color: #000;
  font-weight: 400;
}

.form__input:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #343740;
}

@media (max-width: 1200px) {
  .section {
    padding: 118px 0;
  }

  .header__top {
    padding-top: 60px;
  }

  .services__item:not(:last-child) {
    margin-right: 70px;
  }
}

@media (max-width: 992px) {
  .lock {
    overflow-y: hidden;
  }

  .section {
    padding: 95px 0;
  }

  .header__top {
    padding-top: 45px;
  }

  .burger__button {
    display: flex;
    /*display: block; не отображается средняя линия*/
  }

  .menu__list {
    left: 0;
    right: 0;
    background-color: #7792E0;
    overflow-y: auto;
    bottom: 0;
    top: 0;
    height: 100vh;
    padding-top: 90px;
    z-index: 1;
    position: absolute;
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: transform .5s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__item {
    font-size: 18px;
  }

  .menu__link {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .animation:focus {
    box-shadow: none;
  }

  .expertise__picture {
    width: 45%;
  }

  .services__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 73px 0;
  }

  .header__top {
    padding-top: 30px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 28px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .title::after {
    height: 10px;
    bottom: 3px;
  }

  .expertise__inner {
    flex-direction: column;
  }

  .expertise__inner {
    justify-content: center;
  }

  .expertise__item {
    flex-direction: column;
    align-items: center;
  }

  .expertise__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .expertise__picture {
    margin-right: 0;
    margin-bottom: 30px;
    width: auto;
  }

  .expertise__info {
    max-width: 415px;
  }

  .expertise__skill {
    font-size: 18px;
    width: auto;
  }

  .services__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 16px;
  }

  .section {
    padding: 50px 0;
  }

  .animation:hover {
    text-decoration: none;
  }

  .animation:focus {
    box-shadow: none;
  }

  .animation:active {
    box-shadow: none;
    background-color: var(--blue-color);
  }

  .logo {
    width: 110px;
    height: 36px;
  }

  .header__text {
    font-size: 14px;
    bottom: 20px;
    padding-bottom: 33px;
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    font-size: 40px;
  }

  .header__top {
    padding-top: 15px;
  }

  .services.section {
    padding-bottom: 0;
  }

  .services__items {
    flex-wrap: wrap;
  }

  .services__item {
    padding-top: 50px;
    max-width: fit-content;
  }

  .services__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .services__item::before {
    width: 40px;
    height: 40px;
  }

  .services__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
  }
}