body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 160%;
}

a {
  text-decoration: none;
}

.title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 230px;
  height: 15px;
  background: #2352DE;
  opacity: 0.1;
  bottom: 0;
  left: 0;
}

.header {
  min-height: 100vh;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: #2352DE;
  opacity: 0.5;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo:focus {
  border: 3px solid blue;
}

.logo__img:active {
  opacity: 0.5;
}

.logo__img:hover {
  opacity: 0.7;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 30px;
}

.menu__list-link {
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  font-weight: 600;
}

.menu__list-link:hover {
  border-bottom: 1px solid #fff;
}

.menu__list-link:focus {
  border: 1px solid #fff;
}

.menu__list-link:active {
  opacity: 70%;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  justify-content: space-between;
}

.header__title {
  position: relative;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  color: #fff;
  margin-bottom: auto;
  width: 100px;
}

.header__subtitle {
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
  color: #fff;
  margin-top: auto;
  margin-bottom: 40px;
}

.header__icon {
  position: relative;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}

.header__icon::after {
  content: "";
  width: 45px;
  height: 27px;
  background-image: url("../images/arrow-down.svg");
  background-size: cover;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.about {
  padding: 140px 0;
}

.about__content p {
  margin-top: 24px;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
}